
body{
    background-blend-mode: overlay;background-color :rgb(185, 180, 180);
    border: cornflowerblue; 
    
    
  
  
  
  
  background-repeat:round;
  background-attachment:fixed ;
  background-position: center;background-blend-mode: lighten;
} 
h1{ 
    color: orange ;text-align: center;}
h3{ 
    color: sienna; text-align: left;}
p{ 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: rgb(151, 8, 43); text-decoration:silver ;}